services:
  
  ig-server:
    container_name: "builder"
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        FSH_SUSHI_VERSION: 3.16.5
    volumes:
      - ./output:/src/output:rw
      - ./input-cache:/src/input-cache:rw
      - ./input:/src/input:ro
      - ./sushi-config.yaml:/src/sushi-config.yaml:ro
      - ./package.json:/src/package.json:ro
    networks:
      - fhir
    environment:
      - TZ=Europe/Copenhagen

  ig-nginx:
    container_name: "site"
    image: nginx:1.29.3-alpine-slim
    restart: unless-stopped
    volumes:
      - ./output:/usr/share/nginx/html:rw
      - ./nginx/nginx-template.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      fhir:
        ipv4_address: 172.20.0.7
    ports:
      - 4000:8080
    depends_on:
      - ig-server
    environment:
      - TZ=Europe/Copenhagen

networks:
  fhir:
    name: fhir
    external: true
