name: KIP Infrastructure Implementation Guide publish pipeline

on:
  workflow_dispatch: # Enable manual run
  push:
    branches: [ main ]
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
  pull_request:
    branches: [ main ]

env:
  APP_AUTHOR_NAME: "KIP-ig-publisher[bot]"
  APP_AUTHOR_EMAIL: "kip-ig-publisher[bot]@users.noreply.github.com"
  IG_REPO: implementation-guide
  REGISTRY_REPO: ig-registry
  WEB_REPO: kip-ig-website
  WEB_APP_LOCATION: "web/"

jobs:
  # Check if the IG transpiles without errors
  check-transpile:
    name: Transpile IG
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    container: ghcr.io/trifork/ig-publisher:latest

    steps:
      # Checkout the repos needed
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: IG transpile check
        uses: trifork/ig-publisher/.github/actions/ig-transpile@090b4bbeece46da5cbfdc9e599a55d63db1f1d85 # v.1.8.24

  # Transpile and publish the IG, if it was pushed to main with a tag
  release:
    name: Transpile and publish to the IG release
    # A release is defined as a tag pushed to main
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    runs-on: ubuntu-latest
    container: ghcr.io/trifork/ig-publisher:latest

    steps:
      # Checkout the repos needed
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: ig

      - name: Set Sushi config release YAML properties
        uses: fjogeleit/yaml-update-action@04ff6ec06568fd21197db746472e36cc425de850 # v0.16.1
        with:
          valueFile: ig/sushi-config.yaml
          commitChange: false
          createPR: false
          changes: |
            {
              "version": "${{ github.ref_name }}",
              "releaseLabel": "release"
            }

      - name: Update publicaction-request.json with the release version
        run: |
          echo "$(jq '
            .version = env.GITHUB_REF_NAME |
            .path |= sub("/[0-9\\.]+$"; "/" + env.GITHUB_REF_NAME) |
            .desc |= sub(" [0-9\\.]+$"; " " + env.GITHUB_REF_NAME)
          ' ig/publication-request.json)" > ig/publication-request.json

      - name: Print edited config files
        run: |
          echo "======================== sushi-config.yaml        ========================"
          cat ig/sushi-config.yaml
          echo -n "\n\n======================== publication-request.json ========================\n"
          cat ig/publication-request.json

      - name: Generate app token
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ env.WEB_REPO }},${{ env.REGISTRY_REPO }}

      - name: Publish the implementation guide
        uses: trifork/ig-publisher/.github/actions/ig-publish@090b4bbeece46da5cbfdc9e599a55d63db1f1d85 # v.1.8.24
        # uses: ../../trifork/ig-publisher/.github/actions/ig-publish # Test local action
        with:
          app-token: ${{ steps.token.outputs.token }}
          app-author-name: ${{ env.APP_AUTHOR_NAME }}
          app-author-email: ${{ env.APP_AUTHOR_EMAIL }}
          registry-repo: ${{ github.repository_owner }}/${{ env.REGISTRY_REPO }}
          web-repo: ${{ github.repository_owner }}/${{ env.WEB_REPO }}
          web-source: ${{ env.WEB_APP_LOCATION }}
